html {
    font-size: 62.5%;
}

/*  */
/*  */
/* ----------------------------------------------------------section devider-------------------------------------------------------------------------------- */
/*  */
/*  */

.main-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-sign-up form {
    padding: 1rem 1.5rem;
    border-radius: 0.7rem;
    min-width: 60rem;
    margin: 5rem 0;
    box-shadow: 0 0 1rem 0.1rem grey;
}

.main-sign-up form p {
    font-size: 2rem;
}

.main-sign-up form h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;
}

.main-sign-up fieldset {
    border: 0.1rem solid;
    padding: 2rem 1.5rem;
    border-radius: 0.7rem;
    margin-bottom: 3rem;
}

.main-sign-up legend {
    font-weight: bolder;
    font-size: 1.3rem;
}

.main-sign-up fieldset > div {
    display: flex;
    align-items: center;
}

.main-sign-up fieldset div:not(:last-child) {
    margin-bottom: 2rem;
}

.main-sign-up label {
    flex: 20%;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.main-sign-up input[type="text"],
[type="date"],
[type="file"],
[type="email"],
[type="password"],
[type="tel+"] {
    flex: 50%;
    border: 0.1rem solid lightgray;
    border-radius: 0.3rem;
    padding: 0.5rem 0.7rem;
    letter-spacing: 0.1rem;
    background: rgba(221, 213, 213, 0.096);
}

.main-sign-up label#no-flex {
    flex: 0%;
    max-width: 7rem;
}

.main-sign-up input[type="radio"] {
    margin: 0 1.5rem;
}

.main-sign-up input[type="radio"]:checked + span {
    color: #0004fd;
    font-weight: bolder;
}

.main-sign-up span {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.main-sign-up input::placeholder {
    letter-spacing: 0.1rem;
    background: rgba(221, 213, 213, 0.096);
}

.main-sign-up select {
    font-weight: bolder;
    box-shadow: 0 0 1rem 0.1rem grey;
}

.main-sign-up select optgroup {
    color: lightseagreen;
}

.main-sign-up select optgroup[label] {
    color: lightseagreen;
}

.main-sign-up select optgroup option {
    font-weight: bold;
    color: black;
    margin-bottom: 3rem;
}

.main-sign-up .pass-toggle {
    position: relative;
    margin-bottom: 2rem;
}

.main-sign-up .pass-toggle span {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translate(0, -50%);
    font-size: 1.3rem;
    color: #7a797e;
}

.main-sign-up label.error {
    font-weight: 700;
    display: block;
    color: #f00;
    font-size: 1.4rem;
}

#passchecker {
    position: absolute;
    left: 34%;
    top: 135%;
    font-size: 1.7rem;
}

#messageSection {
    align-items: flex-start;
    flex-direction: column;
}

#message {
    margin-top: 1rem;
    border-radius: 0.7rem;
    resize: none;
    padding: 1% 3%;
    width: 100%;
    box-shadow: 0 0 0.3rem 0.1rem grey;
}

#clsreq {
    color: red;
    font-size: 2rem;
}

#main-sign-up table,
#main-sign-up thead,
#main-sign-up tbody,
#main-sign-up tfoot,
#main-sign-up tr,
#main-sign-up th,
#main-sign-up td {
    border: 0.3rem solid;
    border-collapse: collapse;
    padding: 0.1rem 0.3rem;
}

#main-sign-up table {
    margin: auto;
}

#main-sign-up table caption {
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 2rem;
    background: lightskyblue;
    padding: 1%;
}

#main-sign-up table td,
#main-sign-up table th {
    min-width: 20rem;
}

#main-sign-up thead {
    font-size: 2rem;
    font-weight: bold;
}

#main-sign-up tbody tr td {
    font-size: 1.5rem;
}
