html {
    font-size: 62.5%;
}

body {
    max-width: 100%;
}

/*  */
/*  */
/* ----------------------------------------------------------section devider-------------------------------------------------------------------------------- */
/*  */
/*  */

table,
thead,
tbody,
tfoot,
tr,
th,
td {
    border: 0.1rem solid #dee2e685;
    border-collapse: collapse;
    padding: 0.1rem 0.3rem;
    text-align: center;
}

table {
    margin: auto;
}

table caption {
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 2rem;
    background: rgb(243, 224, 224);
    padding: 1%;
}

table td,
table th {
    max-width: 20rem;
}

table td {
    height: 10rem;
}

table tr:nth-child(1) {
    height: 5rem;
}

thead {
    font-size: 2rem;
    font-weight: bold;
    background: lightseagreen;
}

tbody tr td {
    font-size: 1.5rem;
    min-height: 10rem;
}

#th-sl-no {
    max-width: 3rem;
}

tbody tr td:nth-child(1) {
    font-size: 2rem;
}

tbody tr:nth-child(2n + 1) {
    background: #7a88a0a9;
}

tbody tr:nth-child(2n + 2) {
    background: #586e8569;
}

#ap-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnJS {
    border: none;
    outline: none;
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    padding: 5% 10%;
}

.btnDlt {
    background: rgba(255, 0, 0, 0.541);
}

.btnEdit {
    background: rgba(0, 128, 0, 0.521);
}

.btnJS:hover {
    transform: scale(0.9);
}
