/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */

html {
    font-size: 55.5%;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/* -----------------------------section devider-------------------------------- */
/*  */
/*  */
/*  */
/*  */
/*  */

/* header section stars here */

/* --------------------------------------------------------------------------- */
/* header top section */
.header-section-top {
    flex-direction: column;
    margin-bottom: 3rem;
}

.header-sec-top-left {
    flex: 100%;
    justify-content: center;
    margin-bottom: 3rem;
}

.header-sec-top-right {
    flex: 100%;
}

.search-bar input[type="search"] {
    max-width: 30rem;
    width: 30rem;
}

.sign-in-up button:not(:last-child) {
    margin-right: 3rem;
}

/* --------------------------------------------------------------------------- */
/* header bottom section */
.header-section-bottom {
    display: flex;
    flex-direction: column;
}

.header-sec-btm-left {
    flex: 100%;
}

.header-sec-btm-right {
    flex: 100%;
    align-self: flex-end;
}

.header-section-bottom.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    padding: 0.3rem 0.7rem;
    background: rgba(200, 219, 245, 0.774);
    background: #000;
    color: white;
    align-items: center;
}

.header-section-bottom.sticky .header-sec-btm-right > p {
    display: none;
}

/* header section ends here */

/*  */
/*  */
/*  */
/*  */
/*  */
/* -----------------------------section devider-------------------------------- */
/*  */
/*  */
/*  */
/*  */
/*  */

/* main section starts here */

/* --------------------------------------------------------------------------- */
/* popular sourse section  */
.card {
    min-width: 49.5%;
}

/* main section ends here */

/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
