/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
html {
    font-size: 45.5%;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/* -----------------------------section devider--------------------------------- */
/*  */
/*  */
/*  */
/*  */
/*  */

/* main section starts here */

/* --------------------------------------------------------------------------- */
/* popular sourse section  */
.card {
    flex: 100%;
    margin: 2rem 1.5rem;
    max-width: 100%;
}

/* --------------------------------------------------------------------------- */
/* apps section */
.mbl-app-desc-top h2 {
    font-size: 2.4rem;
}

.mbl-app-desc-bottom ul li:nth-child(2) {
    text-indent: 0.5rem;
}

.mbl-app-desc-bottom ul li:nth-child(3) {
    text-indent: 1rem;
}

.mbl-app-desc-bottom ul li:nth-child(4) {
    text-indent: 2rem;
}

.mbl-app-desc-bottom ul li span {
    margin-left: 0.5rem;
}

/* --------------------------------------------------------------------------- */
/* media section */
.media-sec p {
    font-size: 1.4rem;
    line-height: 1.2;
}

/* main section ends here */

/*  */
/*  */
/*  */
/*  */
/*  */
/* -----------------------------section devider--------------------------------- */
/*  */
/*  */
/*  */
/*  */
/*  */

/* footer section starts here */
.footer-section-top {
    flex-direction: column;
    text-align: center;
}

.footer-section-top > div {
    flex-direction: column;
}

.footer-section-top > div > div:not(:last-child) {
    margin-bottom: 3rem;
}

.footer-section-bottom {
    flex-direction: column;
}

.footer-section-bottom > div:nth-child(1) {
    margin-bottom: 1.5rem;
}
/* footer section ends here */

/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */

/* section 2 */
.cont-phn-em {
    flex-direction: column;
    margin-bottom: 5rem;
    padding: 0 25%;
}

.cont-phn-em > div:nth-child(1) {
    flex: 100%;
}
.cont-phn-em > div:nth-child(2) {
    flex: 100%;
    margin: 3rem 0;
}
.cont-phn-em > div:nth-child(3) {
    flex: 100%;
}

/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */

/* only one section in the html file */
.main-courses .course-title {
    flex-direction: column;
}
/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */

/* only one section in the html file */
.cd-hero h2 {
    font-size: 3rem;
}

/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* =======================================-------------------------->class-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->class-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->class-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->class-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->class-schedule.css<--------------------------======================================= */

/* fourth div */
.cls-main .cls-cld-1 {
    display: flex;
    flex-direction: column;
}

.cls-main .cls-cld-2 {
    flex-direction: column;
    margin: 0 0;
    margin-bottom: 5rem;
}

.cls-main .cls-cld-2 > div:nth-child(1) {
    flex: 100%;
}
.cls-main .cls-cld-2 > div:nth-child(2) {
    flex: 100%;
    text-align: start;
    margin: 1.5rem 0;
}
.cls-main .cls-cld-2 > div:nth-child(3) {
    flex: 100%;
    text-align: start;
}

/* =======================================-------------------------->class-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->class-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->class-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->class-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->class-schedule.css<--------------------------======================================= */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* =======================================-------------------------->sign-up.css<--------------------------======================================= */
/* =======================================-------------------------->sign-up.css<--------------------------======================================= */
/* =======================================-------------------------->sign-up.css<--------------------------======================================= */
/* =======================================-------------------------->sign-up.css<--------------------------======================================= */
/* =======================================-------------------------->sign-up.css<--------------------------======================================= */

/* only one section in the html file */
.main-sign-up form {
    min-width: 28rem;
}

.main-sign-up fieldset {
    min-width: 25rem;
}

.main-sign-up fieldset > div {
    flex-direction: column;
}

.main-sign-up label {
    flex: 100%;
    font-size: 1.9rem;
    margin-bottom: 1.5rem;
}

.main-sign-up input[type="text"],
[type="date"],
[type="file"],
[type="email"],
[type="password"],
[type="tel+"] {
    flex: 100%;
    padding: 0.3rem 0.4rem;
    min-width: 20rem;
}

.main-sign-up input[type="radio"] {
    margin: 0rem;
}

.main-sign-up span {
    font-size: 1.9rem;
    margin-left: 5rem;
}

/* =======================================-------------------------->sign-up.css<--------------------------======================================= */
/* =======================================-------------------------->sign-up.css<--------------------------======================================= */
/* =======================================-------------------------->sign-up.css<--------------------------======================================= */
/* =======================================-------------------------->sign-up.css<--------------------------======================================= */
/* =======================================-------------------------->sign-up.css<--------------------------======================================= */
