/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */

/* main section starts here */

/* --------------------------------------------------------------------------- */
/* popular sourse section  */
.card {
    min-width: 49%;
}

/* --------------------------------------------------------------------------- */
/*  our acheivemnet section */

.ach-card-container {
    flex-direction: column;
}

.ach-card-left {
    flex: 100%;
    text-align: center;
    margin-bottom: 5rem;
}

.ach-card-left img {
    max-width: 40%;
}

.ach-card-right {
    flex: 100%;
    width: 100%;
}

/* --------------------------------------------------------------------------- */
/* apps section */
.mbl-app-sec {
    flex-direction: column;
}

.mbl-app-desc {
    flex: 100%;
    margin-bottom: 5rem;
}

.mbl-app-img {
    flex: 100%;
}

.mbl-app-img img {
    max-width: 65%;
}

/* --------------------------------------------------------------------------- */
/* media section */
.media-sec > div {
    max-width: 100%;
}

/* --------------------------------------------------------------------------- */
/* join us section */
.join-us-tdy-sec {
    flex-direction: column;
}

.join-us-top,
.join-us-bottom {
    flex: 100%;
}

.join-us-bottom img {
    max-width: 100%;
    margin-top: 5rem;
}

/* main section ends here */

/*  */
/*  */
/*  */
/*  */
/*  */
/* -----------------------------section devider-------------------------------- */
/*  */
/*  */
/*  */
/*  */
/*  */

/* footer section starts here */
.footer-section-top {
    flex-direction: column;
}

.footer-section-top > div:nth-child(1) {
    margin-bottom: 3rem;
}

.footer-section-bottom {
    flex-direction: column;
}

.footer-section-bottom > div:nth-child(1) {
    margin-bottom: 1.5rem;
}
/* footer section ends here */

/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* =======================================-------------------------->about-us.css<--------------------------======================================= */
/* =======================================-------------------------->about-us.css<--------------------------======================================= */
/* =======================================-------------------------->about-us.css<--------------------------======================================= */
/* =======================================-------------------------->about-us.css<--------------------------======================================= */
/* =======================================-------------------------->about-us.css<--------------------------======================================= */

/* only one section in the html file */
.main-about-us .cont-flex {
    flex-direction: column;
}

.main-about-us .cont-flex > div:nth-child(1) {
    flex: 100%;
    margin-right: 0rem;
}

.main-about-us .cont-flex > div:nth-child(2) {
    flex: 100%;
    margin-top: 7rem;
}

/* =======================================-------------------------->about-us.css<--------------------------======================================= */
/* =======================================-------------------------->about-us.css<--------------------------======================================= */
/* =======================================-------------------------->about-us.css<--------------------------======================================= */
/* =======================================-------------------------->about-us.css<--------------------------======================================= */
/* =======================================-------------------------->about-us.css<--------------------------======================================= */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */

/* section 3 */
.mcs-sec-3 {
    flex-direction: column;
    padding: 3rem;
}

.mcs-sec-3 > div:nth-child(1) {
    flex: 100%;
    margin-right: 0rem;
    margin-bottom: 5rem;
}

.mcs-sec-3 > div:nth-child(1) > div {
    max-width: 100%;
    margin-left: 0rem;
}

.mcs-sec-3 > div:nth-child(2) {
    flex: 100%;
}

.mcs-sec-3 form {
    max-width: 100%;
}

/* --------------------------------------------------------------------------- */
/* section 4 */
.add-map {
    flex-direction: column;
}

.add-map > div:nth-child(1) {
    flex: 100%;
    margin-bottom: 3rem;
}

.add-map > div:nth-child(2) {
    flex: 100%;
    margin-left: 0rem;
}

/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */
/* =======================================-------------------------->contact-us.css<--------------------------======================================= */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */

/* only one section in the html file */
.mc-card-container {
    flex-direction: column;
}

.mc-card:not(:last-child) {
    margin-bottom: 4.5rem;
}

.mc-card-body img {
    max-width: 30%;
}

/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */
/* =======================================-------------------------->courses.css<--------------------------======================================= */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */

/* review section */
.cd-rw-card-container {
    flex-direction: column;
}

.cd-rw-card {
    flex: 100%;
}

/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* =======================================-------------------------->course-details-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->course-details-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->course-details-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->course-details-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->course-details-schedule.css<--------------------------======================================= */

/* only one section in the html file */
.table thead {
    display: none;
}

.table,
.table tbody,
.table tr,
.table td {
    display: block;
    width: 100%;
}

.table tr {
    margin-bottom: 15px;
}

.table tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
}

.table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}

/* =======================================-------------------------->course-details-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->course-details-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->course-details-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->course-details-schedule.css<--------------------------======================================= */
/* =======================================-------------------------->course-details-schedule.css<--------------------------======================================= */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */

/* third div */
.ubs-main section > div:nth-child(3) > p:nth-child(1) {
    flex: 43%;
}

/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* =======================================-------------------------->sign-in.css<--------------------------======================================= */
/* =======================================-------------------------->sign-in.css<--------------------------======================================= */
/* =======================================-------------------------->sign-in.css<--------------------------======================================= */
/* =======================================-------------------------->sign-in.css<--------------------------======================================= */
/* =======================================-------------------------->sign-in.css<--------------------------======================================= */

/* only one section in the html file */
.main-sign-in {
    flex-direction: column;
}

.main-sign-in h2 {
    margin-bottom: 3rem;
}
/* =======================================-------------------------->sign-in.css<--------------------------======================================= */
/* =======================================-------------------------->sign-in.css<--------------------------======================================= */
/* =======================================-------------------------->sign-in.css<--------------------------======================================= */
/* =======================================-------------------------->sign-in.css<--------------------------======================================= */
/* =======================================-------------------------->sign-in.css<--------------------------======================================= */
