/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */

html {
    font-size: 45.5%;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/* -----------------------------section devider--------------------------------- */
/*  */
/*  */
/*  */
/*  */
/*  */

/* header section stars here */

/* --------------------------------------------------------------------------- */
/* header top section */
.header-sec-top-left {
    flex-direction: column;
}

.header-sec-top-left .logo {
    margin-bottom: 2rem;
}

.header-sec-top-right {
    flex-direction: column;
}

.header-sec-top-right .search-bar {
    margin-bottom: 2rem;
    max-width: 100%;
}

.search-bar input[type="search"] {
    max-width: 35rem;
    width: 35rem;
}

/* --------------------------------------------------------------------------- */
/* header bottom section */
.header-section-bottom {
    justify-content: center;
    align-items: center;
}

#menu-bar {
    display: block;
    margin: 2rem auto;
    text-align: center;
    cursor: pointer;
}

.hidden {
    display: none;
}

.header-sec-btm-left {
    margin-bottom: 3rem;
}

.header-sec-btm-left ul li {
    display: block;
    background: #000;
    padding: 0.5rem 1.5rem;
    width: 16rem;
    border-radius: 0.6rem;
    text-align: center;
}

.header-sec-btm-left ul li:not(:last-child) {
    margin-bottom: 1.2rem;
    margin-right: 0;
}

.header-sec-btm-right {
    align-self: center;
}

.header-section-bottom.sticky {
    padding: 1.3rem 0.7rem;
    background: white;
    color: black;
}

.header-section-bottom.sticky .header-sec-btm-left {
    margin-bottom: 0;
}

/* header section ends here */

/*  */
/*  */
/*  */
/*  */
/*  */
/* -----------------------------section devider--------------------------------- */
/*  */
/*  */
/*  */
/*  */
/*  */

/* main section starts here */

/* --------------------------------------------------------------------------- */
/* popular sourse section  */
#arw-lft,
#arw-rgt {
    display: none;
}

#view {
    display: block;
}

.card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.card {
    min-width: 70%;
    max-width: 100%;
    min-height: auto;
}

.card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4rem;
}

/* --------------------------------------------------------------------------- */
/* apps section */
.mbl-app-desc-bottom ul li:nth-child(2) {
    text-indent: 1rem;
}

.mbl-app-desc-bottom ul li:nth-child(3) {
    text-indent: 2rem;
}

.mbl-app-desc-bottom ul li:nth-child(4) {
    text-indent: 4rem;
}

.mbl-app-desc-bottom ul li span {
    margin-left: 2rem;
}

/* --------------------------------------------------------------------------- */
/* media section */
.media-sec ul {
    flex-direction: column;
    align-items: center;
}

/* main section ends here */

/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */
/* =======================================-------------------------->style.css<--------------------------======================================= */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */

/* overview section */
.cd-ovw-flex {
    flex-direction: column;
}

.cd-ovw-child-1 {
    flex: 100%;
    margin-bottom: 3rem;
}

.cd-ovw-child-1 p {
    max-width: 100%;
}

.cd-ovw-child-2 {
    flex: 100%;
}

/* --------------------------------------------------------------------------- */
/* syllabus section */
.cd-slybs-flex {
    flex-direction: column;
}

.cd-slybs-child-1 {
    flex: 100%;
}

.cd-slybs-child-2 {
    flex: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.cd-slybs-child-1 > div:nth-child(1) > p {
    max-width: 100%;
}

/* --------------------------------------------------------------------------- */
/* review section */
.cd-rw-card {
    margin: 3rem auto;
}

/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */
/* =======================================-------------------------->course-details.css<--------------------------======================================= */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */

/* third div */
.ubs-main section > div:nth-child(3) > p:nth-child(1) {
    flex: 100%;
}

#stdp {
    display: none;
}

/* --------------------------------------------------------------------------- */
/* fourth div */
.ubs-main .ubs-cld-1 > div:not(:last-child) {
    margin-bottom: 7rem;
}

.ubs-main .ubs-cld-2 {
    margin: 0 0;
    flex-direction: column;
}

.ubs-main .ubs-cld-2 > div:not(:last-child) {
    margin-bottom: 1.7rem;
}

.ubs-main .ubs-cld-2 > div:nth-child(1) {
    flex: 100%;
}

.ubs-main .ubs-cld-2 > div:nth-child(2) {
    flex: 100%;
    text-align: start;
}

.ubs-main .ubs-cld-2 > div:nth-child(3) {
    flex: 100%;
    text-align: start;
}

.ubs-main .ubs-cld-2 > div:nth-child(4) {
    flex: 100%;
    text-align: start;
}

#stds {
    display: block;
    float: left;
    width: 12rem;
    font-size: 1.9rem;
    color: lightseagreen;
    text-transform: capitalize;
}

/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
/* =======================================-------------------------->upcoming-batch.css<--------------------------======================================= */
